dj-database-url
django==2.2.24
django-environ
django-jquery
notifications-python-client
psycopg2-binary
python-dotenv
requests
sentry-sdk
urllib3>=1.26.5
django-staff-sso-client
cloudfoundry-client==1.16.1
whitenoise
gunicorn
