dj-database-url
django==4.2.8
django-environ
django-jquery
notifications-python-client
psycopg2-binary==2.9.9
python-dotenv
requests==2.31.0
sentry-sdk==1.14.0
urllib3>=1.26.5
django-staff-sso-client==4.2.1
cloudfoundry-client==1.36.0
whitenoise
gunicorn

# Pinning versions to address security alert
oauthlib>=3.2.1
protobuf==4.25.2
