dj-database-url
django==3.2.20
django-environ
django-jquery
notifications-python-client
psycopg2-binary==2.8.6
python-dotenv
requests
sentry-sdk==1.14.0
urllib3>=1.26.5
django-staff-sso-client
cloudfoundry-client>=1.16.1
whitenoise
gunicorn
protobuf>=3.15.0

# Pinning versions to address security alert
oauthlib>=3.2.1
protobuf==3.19.5
